<ion-header>
  <ion-toolbar>
    <ion-title class="title-tickets-page">My tickets</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf='tickets != undefined'>
  <ion-card *ngFor="let t of tickets">
    <ion-card-content>
      <ion-icon name="pin" slot="start"></ion-icon>
      <p>ID ticket: {{t?._id}}</p>
      <p>ID company: {{t?.idCompany}}</p>
      <p>ID flight: {{t?.idFlight}}</p>
      <p>Check: {{t?.isChecked}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>