<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="login">
    <img class="imageLogin" src="../../assets/login.png" alt="" />
  </div>
  <ion-list class="listLogin">
    <ion-item>
      <ion-input placeholder="Username" style="text-align: center"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" style="text-align: center"></ion-input>
    </ion-item>
    <ion-button class="buttonLogin" expand="full">Login</ion-button>
    <ion-button class="buttonLogin" expand="full">Sign In</ion-button>
  </ion-list>
</ion-content>
