<ion-header>
  <ion-toolbar>
    <ion-title>
      Bookings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-list>
      <ion-item (click)="openModal()"
        >{{airportSelectedDeparture?.city}} {{ airportSelectedDeparture?.name ||
        'Departure' }}</ion-item
      >
    </ion-list>
  </ion-card>
  <ion-card class="card">
    <ion-list>
      <ion-item (click)="openModal2()"
        >{{airportSelectedDestination?.city}} {{
        airportSelectedDestination?.name || 'Destination' }}</ion-item
      >
    </ion-list>
  </ion-card>
  <ion-card class="card">
    <ion-list>
      <ion-item>
        <ion-label>Check In</ion-label>
        <ion-datetime
          [(ngModel)]="checkIn"
          displayFormat="MM DD YY"
          placeholder="Select Date"
        ></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card class="card">
    <ion-list>
      <ion-item>
        <ion-label>Check Out</ion-label>

        <!-- <ion-toggle></ion-toggle> -->
        <ion-datetime
          [(ngModel)]="checkout"
          displayFormat="MM DD YY"
          placeholder="Select Date"
        ></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-list>
    <div class="button-check">
      <ion-button class="btn-color" (click)="launchTab3Page()"
        >Check the flights</ion-button
      >
    </div>
  </ion-list>
</ion-content>
