.button-check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.btn-color {
  background-color: #1698fa;
  border-radius: 6px;
}
.card {
  padding: 10px;
  border: 2px solid #1698fa;
}
.title {
  text-align: center;
  color: orange;
}
