ion-content {
  --ion-background-color: #1698fa;
}
.home-card {
  border-radius: 6px;
  background-color: #fff;
}

.title-card2 {
  color: orange;
  text-align: center;
}

.title {
  text-align: center;
  color: orange;
}
.titleCard {
  color: orange;
}
ion-toolbar {
  --ion-background-color: #fff;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon1,
.icon2,
.icon3,
.icon4 {
  width: 30px;
  height: 30px;
}
.icon1 {
  color: rgb(27, 189, 27);
}
.icon2 {
  color: rgb(0, 183, 255);
}
.icon3 {
  color: #c13584;
}
.icon4 {
  color: rgb(0, 110, 212);
}
