<ion-header>
  <ion-toolbar>
    <ion-icon src="../../assets/Airplane.svg.png"></ion-icon>
    <ion-title class="title">
      SJAirlines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="border-radius: 6px;">
    <ion-card-header>
      <img src="../../assets/paradise.jpg" alt="paradise" />
      <ion-card-subtitle>Join with us</ion-card-subtitle>
      <ion-card-title class="titleCard">Welcome to SJAirlines</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-text>
    <h1>Best Destinations</h1>
  </ion-text>

  <ion-card>
    <ion-slides pager="true" effect="fade" style="background-color: bisque">
      <ion-slide>
        <img src="../../assets/lon.jpg" alt="londra" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/dub.jpg" alt="londra" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/par.jpg" alt="londra" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/amst.jpeg" alt="londra" />
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <div class="footer">
        <ion-title class="titleCard">About us</ion-title>
        <ion-icon
          class="icon1"
          ios="logo-whatsapp"
          md="logo-whatsapp"
        ></ion-icon>
        <ion-icon class="icon2" ios="logo-twitter" md="logo-twitter"></ion-icon>
        <ion-icon
          class="icon3"
          ios="logo-instagram"
          md="logo-instagram"
        ></ion-icon>
        <ion-icon
          class="icon4"
          ios="logo-facebook"
          md="logo-facebook"
        ></ion-icon>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
