ion-text {
  color: #1698fa;
  text-align: center;
}
.title {
  text-align: center;
  color: orange;
}
.titleCard {
  color: orange;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon1,
.icon2,
.icon3,
.icon4 {
  width: 30px;
  height: 30px;
}
.icon1 {
  color: rgb(27, 189, 27);
}
.icon2 {
  color: rgb(0, 183, 255);
}
.icon3 {
  color: #c13584;
}
.icon4 {
  color: rgb(0, 110, 212);
}
