<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title class="title">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text>
        <h3 class="text-details"><ion-icon name="home"></ion-icon>Company:</h3>
        <h3 class="text-details">
          <ion-icon name="list-box"></ion-icon>Model:
        </h3>
        <h3 class="text-details">
          <ion-icon name="person"></ion-icon>N.Seats:
        </h3>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
