<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"
      ><ion-back-button (click)="ionViewWillLeave()"></ion-back-button
    ></ion-buttons>
    <ion-title class="title">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text>
        <h3 class="text-flight">
          <ion-icon name="arrow-round-up"></ion-icon>Departure:
        </h3>
        {{departure}}
        <h3 class="text-flight">
          <ion-icon name="arrow-round-down"></ion-icon>Destination:
        </h3>
        {{destination}}
        <h3 class="text-flight">
          <ion-icon name="alarm" md="md-alarm"></ion-icon>Duration:
        </h3>
        {{duration}}min
        <h3 class="text-flight"><ion-icon name="logo-usd"></ion-icon>Price:</h3>
        {{price}}$
        <h3 class="text-flight">
          <ion-icon name="logo-usd"></ion-icon>IdAirplane:
        </h3>
        {{idAirplane}}
        <h3 class="text-details">
          <ion-icon name="person"></ion-icon>N.Seats:{{airplane?.numSeats}}
        </h3>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
