<ion-content>
  <!-- con il continue -> mi porto alle tabs -->
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="slide1">
      <ion-card class="card-slide">
        <img
          src="https://img.icons8.com/bubbles/300/000000/around-the-globe.png"
        />
        <h2 class="h2-slide1">Welcome to SJAirlines</h2>
        <p class="p-slide1">With us your dreams come to life</p>
      </ion-card>
    </ion-slide>
    <ion-slide class="slide2">
      <ion-card class="card-slide">
        <img src="https://img.icons8.com/bubbles/300/000000/suitcase.png" />
        <h2 class="h2-slide2">Do you like travelling?</h2>
        <p class="p-slide2">
          ..who doesn't like to travel ?!
        </p>
      </ion-card>
    </ion-slide>
    <ion-slide class="slide3">
      <ion-card class="card-slide">
        <img src="https://img.icons8.com/bubbles/300/000000/airport.png" />
        <h2 class="h2-slide3">What are you waiting for?</h2>
        <p class="p-slide3">Enjoy!</p>
        <ion-button fill="clear" (click)="goTabs()"
          >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
