.slide1 {
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #f39c12,
    #ff7266,
    #ff68b3,
    #bc81ed,
    #1698fa
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide2 {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #f39c12,
    #ff7266,
    #ff68b3,
    #bc81ed,
    #1698fa
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide3 {
  height: 100vh;
  background-image: linear-gradient(
    to left top,
    #f39c12,
    #ff7266,
    #ff68b3,
    #bc81ed,
    #1698fa
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-slide {
  height: 90%;
  width: 90%;
  background-color: #fff;
}

.p-slide1,
.p-slide2,
.p-slide3 {
  color: grey;
}

.h2-slide1,
.h2-slide2,
.h2-slide3 {
  font-size: 20px;
  color: #1698fa;
}
