ion-content {
  --ion-background-color: #1698fa;
}
.btn-signIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title-register {
  text-align: center;
  color: orange;
}

.icon {
  color: #fff;
}

.item-name,
.item-surname,
.item-email,
.item-username,
.item-password,
.item-passwordConfirm {
  border-radius: 8px;
  width: 250px;
  margin-bottom: 6px;
}

.card-register {
  margin-top: 18px;
  height: 420px;
  background-color: #fff;
  border-radius: 6px;
}

.div-item {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonRegister {
  margin-top: 10px;
  border-radius: 4px;
}
